<div class="display-patient-info-bis">
  <div><h2 class="consultation-type-text <%= 'lightblue-text color-text' if @consultation.consultation_type == 'First meeting' %> <%= 'blue-text color-text' if @consultation.consultation_type == 'Operation' %> <%= 'yellow-text color-text' if @consultation.consultation_type == 'Consultation' %>"><%= @consultation.consultation_type %> Follow-up  (<%= @consultation.start_time.strftime("%A, %b %d") %>)</h2></div>
  <div style="margin: 0px 20px;">
    <div id="patient_id" data-target="<%= @patient.id %>"></div>
    <div id="consultation_id" data-target="<%= @consultation.id %>"></div>
      <%= simple_form_for @consultation, url: add_tags_consultation_path(@consultation), html: {class: 'type-taggs'}, remote: true do |f|%>
        <%= f.input :tag_list, label: "Add tags", hint: "Add your tags, separated by commas", input_html: { class: 'input-tagg', value: nil} %>
      <% end %>
      <%= simple_form_for [@patient, @consultation], html: {class: 'form-taggs'},remote: true do |f| %>
      <div id="consultation-taggs">
         <%= render 'shared/tagglist', consultation: @consultation, patient: @patient %>
      </div>
        <% input_value = @consultation.tag_list.empty? ? "" : @consultation_templates["insomnie"][0]%>
        <%= f.input :patient_complain, placeholder: 'Add notes for the complains', input_html: { class: 'input-card', style: 'height:20vh;', value: input_value} %>
        <% input_value = @consultation.tag_list.empty? ? "" : @consultation_templates["insomnie"][1]%>
        <%= f.input :diagnostic, placeholder: 'Add notes for the diagnostic', input_html: { class: 'input-card', style: 'height:20vh;', value: input_value } %>
        <% input_value = @consultation.tag_list.empty? ? "" : @consultation_templates["insomnie"][2]%>
        <%= f.input :care_plan, placeholder: 'Add notes for the care plan', input_html: { class: 'input-card', style: 'height:16vh;', value: input_value } %>

        <% input_value = @consultation.tag_list.empty? ? "" : @consultation_templates["insomnie"][3]%>
        <%= f.input :prescription, placeholder: 'Add notes for the prescription', input_html: { class: 'input-card', style: 'height:20vh;', value: input_value } %>
        <% input_value = @consultation.tag_list.empty? ? "" : @consultation_templates["insomnie"][4]%>
        <%= f.input :note_patient, placeholder: 'Add notes for the patient', input_html: { class: 'input-card', style: 'height:20vh;', value: input_value } %>
      <div class="d-flex justify-content-between">
        <%= link_to "SKIP", patient_path(@patient), class: "btn btn-outline-secondary height" %>
        <%= f.button :submit, class: "btn btn-flat-add-consultation", data: { disable_with: false }, value:"Next" %>
      </div>
    <% end %>
  </div>
</div>
