<div class="consultation-card card-container">
  <div class="d-flex justify-content-end" style="position: relative">
    <span style="position: absolute; top: -30px; right: -40px; font-size: 25px;" class="consultation-type <%= 'lightbluebutton' if @consultation.consultation_type == 'First meeting' %> <%= 'bluebutton' if @consultation.consultation_type == 'Operation' %> <%= 'yellowbutton' if @consultation.consultation_type == 'Consultation' %>"><%= @consultation.consultation_type %></span>
    </div>
  <div class="d-flex justify-content-between">
  <h2><%= @consultation.start_time.to_date %> -  <%= @consultation.start_time.time %> <%= @consultation.end_time %></h2>
  </div>
  <div class="consultation-id-container" style="margin: 20px;">
    <%= simple_form_for [@patient, @consultation] do |f| %>
      <div class='d-flex align-items-center' style="width: 80%; margin-bottom: 20px;">
        <%= f.input :patient_complain, placeholder: 'Add notes for the complains', wrapper_html: { class: 'input-card' } %>
        <ul>
          <li class='list-inline'><i style="margin-top: 2rem;"class="fas fa-link"></i></li>
          <li class='list-inline'><i style="margin-top: 2rem;" class="fas fa-paperclip"></i></li>
        </ul>
      </div>
      <div class='d-flex align-items-center' style="width: 80%; margin-bottom: 20px;">
        <%= f.input :diagnostic, placeholder: 'Add notes for the diagnostic', wrapper_html: { class: 'input-card' } %>
        <ul>
          <li class='list-inline'><i style="margin-top: 2rem;" class="fas fa-link"></i></li>
          <li class='list-inline'><i class="fas fa-paperclip"></i></li>
        </ul>
      </div>
      <div class='d-flex align-items-center' style="width: 80%; margin-bottom: 20px;">
        <%= f.input :diagnostic, placeholder: 'Add notes for the diagnostic', wrapper_html: { class: 'input-card' } %>
        <ul>
          <li class='list-inline'><i style="margin-top: 2rem;" class="fas fa-link"></i></li>
          <li class='list-inline'><i class="fas fa-paperclip"></i></li>
        </ul>
      </div>
      <div class='d-flex align-items-center' style="width: 80%">
        <%= f.input :prescription, placeholder: 'Add prescription for the patient', wrapper_html: { class: 'input-card' } %>
        <ul>
          <li class='list-inline'><i style="margin-top: 2rem;" class="fas fa-link"></i></li>
          <li class='list-inline'><i class="fas fa-paperclip"></i></li>
        </ul>
      </div>
      <%= f.button :submit, class:"btn btn-flat-add-consultation" %>
    <% end %>
  </div>
</div>

