<div class="interface-position">
  <div class="d-flex justify-content-between" style="margin: 0px 20px">
    <div>
      <%= link_to "Week", dashboard_path, class: "btn weekly-monthly to-the-right", id: "weekly" %>
      <%= link_to "Month", dashboard_path, class: "btn weekly-monthly" %>
    </div>
    <%= link_to "+ Add Meeting", new_consultation_path, class: "btn btn-flat-add-meeting" %>
  </div>
</div>

<div class="calendar-container">
  <div class="d-flex" style="margin-bottom: 20px">
  <% @consultations.each do |day_consultations| %>
    <div>
      <div>
        <h2 class="date-dash"> <%= day_consultations.first.start_time.strftime("%d") %> </h2>
        <h2 class="date-dash"> <%= day_consultations.first.start_time.strftime("%A")%></h2>
      </div>
      <div class="consultation-each">
        <% (8..20).to_a.each do |hour| %>
          <% consultation =  day_consultations.select { |c| c.start_time.hour == hour }.first  %>
          <% if consultation.present? %>
            <div class="meeting-card link <%= 'lightblueborder' if consultation.consultation_type == 'First meeting' %> <%= 'blueborder' if consultation.consultation_type == 'Operation' %> <%= 'yellowborder' if consultation.consultation_type == 'Consultation' %>">

              <div class="d-flex justify-content-between">
                <p><%= consultation.start_time.strftime("%H") %>h00</p><span class="consultation-type-text <%= 'lightblue-text' if consultation.consultation_type == 'First meeting' %> <%= 'blue-text' if consultation.consultation_type == 'Operation' %> <%= 'yellow-text' if consultation.consultation_type == 'Consultation' %>"><%= consultation.consultation_type %></span>
              </div>
              <h4><%= consultation.patient.first_name %> <%= consultation.patient.last_name  %></h4>
              <%= link_to '', patient_path(consultation.patient) %>
            </div>
            <% else %>
            <%= link_to new_consultation_path(hour: hour, date: day_consultations.first.start_time.strftime("%b %d, %Y")), style: "text-decoration:none" do%>
              <div class="empty-meeting">
                <p><%= hour %>h00</p>
              </div>
            <% end %>
          <% end %>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

