<div class="d-flex justify-content-end interface-position">
  <div>
    <%= link_to "+ Add Meeting", new_consultation_path, class: "btn btn-flat-add-meeting" %>
  </div>
</div>

<div class="calendar-container">
  <div class="d-flex" style="margin-bottom: 20px">
  <% @consultations.each do |day_consultations| %>
    <div>
      <div>
        <h2 class="date-dash"> <%= day_consultations.first.start_time.strftime("%d") %> </h2>
        <h2 class="date-dash"> <%= day_consultations.first.start_time.strftime("%A")%></h2>
      </div>
      <div class="consultation-each">
        <% (8..20).to_a.each do |hour| %>
          <% consultation =  day_consultations.select { |c| c.start_time.hour == hour }.first  %>
          <% if consultation.present? %>
            <div class="meeting-card link <%= 'lightblueborder' if consultation.consultation_type == 'First meeting' %> <%= 'blueborder' if consultation.consultation_type == 'Operation' %> <%= 'yellowborder' if consultation.consultation_type == 'Consultation' %>">

              <div class="d-flex justify-content-between">
                <p><%= consultation.start_time.strftime("%H") %>h00</p><h4><%= consultation.patient.first_name %> <%= consultation.patient.last_name  %></h4>
              </div>
              <h4><%= consultation.consultation_type %></h4>
              <%= link_to '', patient_path(consultation.patient) %>
            </div>
            <% else %>
            <div class="empty-meeting">
              <p><%= hour %>h00</p>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
