<div class="d-flex justify-content-between interface-position">
  <h5>Filter: <a href=""> All</a></h5>
  <div>
    <%= link_to "+ Add Patient", new_patient_path, class: "btn btn-flat-add-patient" %>
    <%= link_to "+ Add Meeting", new_consultation_path, class: "btn btn-flat-add-meeting button-position" %>
  </div>
</div>

<div class="calendar-container">
  <div class="d-flex">
  <% @consultations.each do |day_consultations| %>
    <div>
      <% if day_consultations.first.start_time.to_date == Date.today  %>
        <h2>Today</h2>
      <% elsif day_consultations.first.start_time.to_date == Date.today + 1.day %>
        <h2>Tomorow</h2>
      <% elsif day_consultations.first.start_time.to_date == Date.today + 2.day %>
        <h2>After-Tomorow</h2>
      <% else %>
        <h2> <%= day_consultations.first.start_time.to_date %></h2>
    <% end %>
      <div class="consultation-each">
          <% day_consultations.each do |consultation| %>
            <div class="meeting-card <%= 'lightblueborder' if consultation.consultation_type == 'First meeting' %> <%= 'blueborder' if consultation.consultation_type == 'Operation' %> <%= 'yellowborder' if consultation.consultation_type == 'Consultation' %>">
              <h3><%= consultation.consultation_type %></h3>
              <p>Consultation time: <strong><%= consultation.start_time.strftime("%H:%M") %> - <%= consultation.end_time.strftime("%H:%M") %></strong></p>
              <ul><li class='list-inline'><%= consultation.patient.first_name%> <%= consultation.patient.last_name  %></li></ul>
              <%= link_to '', patient_path(consultation.patient) %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
