<div class="d-flex justify-content-between interface-position">
  <h5>Filter: <a href=""> All</a></h5>
  <div>
    <%= link_to "+ Add Meeting", new_consultation_path, class: "btn btn-flat-add-meeting button-position" %>
  </div>
</div>

<div class="calendar-container">
  <div class="d-flex" style="margin-bottom: 20px">
  <% @consultations.each do |day_consultations| %>
    <div>
      <% if day_consultations.first.start_time.to_date == Date.today  %>
        <h5 style="font-weight: bold">Today (<%= Date.today.strftime("%A, %b %d") %>)</h5>
      <% elsif day_consultations.first.start_time.to_date == Date.today + 1.day %>
        <h5 style="font-weight: bold">Tomorrow (<%= (Date.today + 1.day).strftime("%A, %b %d") %>)</h5>
      <% elsif day_consultations.first.start_time.to_date == Date.today + 2.day %>
        <h5 style="font-weight: bold">After-Tomorow (<%= (Date.today + 2.day).strftime("%A, %b %d") %>)</h5>
      <% else %>
        <h5 style="font-weight: bold"> <%= day_consultations.first.start_time.strftime("%A, %b %d") %></h5>
    <% end %>
      <div class="consultation-each">
          <% day_consultations.sort_by(&:start_time).each do |consultation| %>
            <div class="meeting-card link <%= 'lightblueborder' if consultation.consultation_type == 'First meeting' %> <%= 'blueborder' if consultation.consultation_type == 'Operation' %> <%= 'yellowborder' if consultation.consultation_type == 'Consultation' %>">
              <h3><%= consultation.consultation_type %></h3>
              <p>Consultation time: <strong><%= consultation.start_time.strftime("%H:%M") %> - <%= consultation.end_time.strftime("%H:%M") %></strong></p>
              <ul><li class='list-inline'><%= consultation.patient.first_name%> <%= consultation.patient.last_name  %></li></ul>
              <%= link_to '', patient_path(consultation.patient) %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
