<div class="d-flex">
  <div class="consultation-card card-container">
    <p>
      <h2>Past consultation :<%= consultation.start_time %> - <%= consultation.end_time %></h2>
      <span class="consultation-type <%= 'lightbluebutton' if consultation.consultation_type == 'First meeting' %> <%= 'bluebutton' if consultation.consultation_type == 'Operation' %> <%= 'yellowbutton' if consultation.consultation_type == 'Consultation' %>"><%= consultation.consultation_type %></span>
    </p>
    <div class="d-flex consultation-id-container">
      <h3 class='form-title'>Patient's complain</h3>
        <div class='d-flex align-items-center' style="width: 100%">
          <div class='form-field'><%= consultation.patient_complain %></div>
          <ul>
            <li class='list-inline'><i class="fas fa-link"></i></li>
            <li class='list-inline'><i class="fas fa-paperclip"></i></li>
          </ul>
        </div>
      <h3 class='form-title'>Diagnostic</h3>
        <div class='d-flex align-items-center' style="width: 100%">
          <div class='form-field'><%= consultation.diagnostic %></div>
          <ul>
            <li class='list-inline'><i class="fas fa-link"></i></li>
            <li class='list-inline'><i class="fas fa-paperclip"></i></li>
          </ul>
        </div>
      <h3 class='form-title'>Care plan</h3>
        <div class='d-flex align-items-center' style="width: 100%">
          <div class='form-field'><%= consultation.care_plan %></div>
          <ul>
            <li class='list-inline'><i class="fas fa-link"></i></li>
            <li class='list-inline'><i class="fas fa-paperclip"></i></li>
          </ul>
        </div>
      <h3 class='form-title'>Prescription & information for the patients</h3>
      <div class='d-flex align-items-center' style="width: 100%">
          <div class='form-field'><%= consultation.prescription %></div>
          <ul>
            <li class='list-inline'><i class="fas fa-link"></i></li>
            <li class='list-inline'><i class="fas fa-paperclip"></i></li>
          </ul>
        </div>
    </div>
  </div>
</div>
