<div class="meeting-card <%= 'lightblueborder' if consultation.type == 'First meeting' %> <%= 'blueborder' if consultation.type == 'Operation' %> <%= 'yellowborder' if consultation.type == 'Consultation' %>">
  <h3><%= consultation.type %></h3>
  <p>Consultation time: <strong><%= consultation.start_time.strftime("%H:%M") %> - <%= consultation.end_time.strftime("%H:%M") %></strong></p>
  <ul>
    <li class="list-inline"><%= consultation.patient.first_name%> <%= consultation.patient.last_name  %></li>
  </ul>
</div>
