<div style="margin-top: 15px;">
  <div class="back-to-dashboard" style="max-width: 235px;">
    <%= link_to dashboard_path, class:"erase d-flex" do %>
      <i class="fas fa-chevron-left" id="down"></i>
      <p>Back to dashboard</p>
    <% end  %>
  </div>

  <div class="card_free general-padding-20" style="width: 72%">
    <p>
      <h3>New meeting</h3>
      <span class="consultation-type <%= 'lightbluebutton' if consultation.consultation_type == 'First meeting' %> <%= 'bluebutton' if consultation.consultation_type == 'Operation' %> <%= 'yellowbutton' if consultation.consultation_type == 'Consultation' %>"><%= consultation.consultation_type %></span>
    </p>
    <!-- <h3 class='form-title'>Consultation title</h3> -->
        <%#= f.input :consultation_type, collection: ["First meeting", "Consultation", "Operation"] %>

    <%= simple_form_for @consultation do |f| %>
      <div class="general-padding-20">
        <div class="d-flex justify-content-between">
          <h4>Patient</h4>
        </div>
        <div class="d-flex justify-content-between">
          <div style="width: 45%">
            <label for="">Existing patient</label>
          </div>
          <div style="width: 45%" >
            <label for="">Unregistered patient</label>
            <%= link_to "New patient", new_patient_path, class: "btn btn-outline-primary margin-right-50" %>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <h4>Patient</h4>
        </div>
        <div class="d-flex justify-content-between">
          <div style="width:30%;">
            <%= f.input :start_time, as: :string, required: false, input_html: {class: "meetpicker"}, placeholder: "Select Start" %>
          </div>
          <div style="width:30%;">
            <%= f.input :end_time, as: :string, required: false, input_html: {class: "meetpicker"}, placeholder: "Select End" %>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <%= f.input :note_patient %>
        </div>
        <div class="d-flex justify-content-end">
          <%= f.button :submit, "Add new meeting", class: "btn btn-primary margin-right-50" %>
        </div>
      </div>
    <% end %>

  </div>

</div>
