<div class="consultation-container d-flex">
  <div class='card-left'></div>


  <div class="consultation-card card-container">
    <p>
      <h2>New meeting</h2>
      <span class="consultation-type <%= 'lightbluebutton' if @consultation.consultation_type == 'First meeting' %> <%= 'bluebutton' if @consultation.consultation_type == 'Operation' %> <%= 'yellowbutton' if @consultation.consultation_type == 'Consultation' %>"><%= @consultation.consultation_type %></span>
    </p>
    <div class="d-flex">
      <div class="consultation-form">
        <%= simple_form_for(@consultation) do |f| %>
        <h3 class='form-title'>Consultation title</h3>
        <%= f.input :consultation_type, collection: ["First meeting", "Consultation", "Operation"] %>
        <h3 class='form-title'>Patients</h3>
        <%= f.input :diagnostic %>
        <h3 class='form-title'>Care plan</h3>
        <%= f.input :care_plan %>
        <h3 class='form-title'>Prescription & information for the patients</h3>
        <%= f.input :prescription %>
        <%= f.button :submit %>
        <% end %>
      </div>
      <div class="consultation-actions">
        <ul>
          <li class='list-inline'><i class="fas fa-link"></i></li>
          <li class='list-inline'><i class="fas fa-paperclip"></i></li>
        </ul>
      </div>
    </div>

  </div>

  <div class='card-right'></div>
</div>
