<div class="sidebar">
  <h2 style="padding-left:15px;">Hippoweb</h2>
  <div class="doctor_profile">
    <div class="d-flex position-doc-info-card">
      <%= image_tag current_user.photo, class: "doctor-avatar" %>
      <ul class="list-inline position-doc-info"><li>
        <h3>Dr. <%=current_user.first_name%> <%= current_user.last_name %></h3>
        <h5><%= current_user.email %><h5></li>
      </ul>
    </div>
  </div>
  <ul>
    <%= link_to dashboard_path, class:"erase d-flex" do %>
      <li class="list-inline <%= "active" if params[:action] == "dashboard" %>"><i class="far fa-calendar-alt"></i> Dashboard</li>
    <% end  %>
    <%= link_to patients_path, class:"erase d-flex" do %>
      <li class="list-inline <%= "active" if params[:action] == "index" && params[:controller] == "patients" %>"><i class="far fa-user"></i> Patients</li>
    <% end  %>
    <%= link_to emails_path, class:"erase d-flex" do %>
      <li class="list-inline <%= "active" if params[:action] == "index" && params[:controller] == "emails" %>"><i class="far fa-envelope"></i> Emails</li>
    <% end  %>
    <div class="d-flex" style="padding-top: 30px;">
      <div class="searchbar" style="background-color: white;">
      <%= form_tag patients_path, id: "search_form", method: :get do %>
        <%= select_tag "patient", options_from_collection_for_select(
          Patient.all, :id, :full_name), class: 'select2', id: "select_a_patient" %>
        </label>
        <%= link_to patients_path do %>
        <i style="padding-left: 5px" class="fas fa-times"></i>
        <% end %>
      <% end %>
    </div>
    <script>
      window.onload = function() {
        <% if @selected_patient %>
          $('.select2').val("<%= @selected_patient %>")
          $('.select2').trigger('change')
        <% end %>
        $('.select2').on('select2:select', function (e) {
          console.log("hola")
          console.log(e.params);
          var data = e.params.data;
          document.getElementById("search_form").submit()
        });
      }
    </script>
  </div>
    <li class='hl list-inline'></li>
    <%= link_to dashboard_path, class:"erase d-flex" do %>
    <li class="settings list-inline"><i class="fas fa-cog"></i> Settings</li>
  <% end  %>
  </ul>
</div>
