<div class="d-flex justify-content-between interface-position">
  <h5>Filter: <a href=""> All</a></h5>
  <div>
    <%= link_to "+ Add Patient", new_patient_path, class: "btn btn-flat-add-patient" %>
  </div>
</div>

<div class="container-index">
  <div style="width: 77vw">
    <div class="title d-flex border-bottom card_free" style="margin-bottom: 10px">
      <div class="category-index border-right" style="width: 15vw">
        <h5>Name</h5>
      </div>
      <div class="category-index border-right" style="width: 18vw">
        <h5>Email</h5>
      </div>
      <div class="category-index border-right" style="width: 8vw">
        <h5>Gender</h5>
      </div>
      <div class="category-index border-right" style="width: 9vw">
        <h5>Meeting</h5>
      </div>
      <div class="category-index border-right" style="width: 11vw">
        <h5>Job</h5>
      </div>
      <div class="category-index" style="width: 16vw ">
        <h5>Comment</h5>
      </div>
    </div>
    <div class="card_free">
      <% @patient.each do |patient| %>
        <div class="content link d-flex border-bottom" style="padding-left: 10px;">
          <div class="d-flex category-index-info" style="width: 15vw;">
            <p><%= "#{patient.first_name} #{patient.last_name}" %></p>
          </div>
          <div class="d-flex category-index-info" style="width: 18vw;">
            <p><%= patient.email %></p>
          </div>
          <div class="d-flex category-index-info" style="width: 8vw;">
            <p><%= patient.gender %></p>
          </div>
          <div class="d-flex category-index-info" style="width: 9vw;">
            <% unless patient.consultations.empty? %>
              <p><%= patient.consultations.last.consultation_type %></p>
            <% end %>
            <%#= @consultations.find_by(patient_id: patient.id).consultation_type %>

          </div>
          <div class="d-flex category-index-info" style="width: 11vw;">
            <p><%= patient.job_title %></p>
          </div>
          <div class="d-flex category-index-info" style="width: 16vw">

            <% unless patient.consultations.empty? %>
              <p><%= patient.consultations.last.patient_note_attachment %></p>
            <% end %>
            <%#= @consultations.find_by(patient_id: patient.id).patient_note_attachment %>
          </div>
          <%= link_to '', patient_path(patient) %>
        </div>
      <% end %>
    </div>
  </div>
</div>

