<div class="container">

  <%= link_to "Dashboard", dashboard_path %>

  <div class="row">

    <div class="card">
      <div id="selected_category" class="creation_category">
        <h5>Patient Information</h5>
        <p>General information about the patient</p>
      </div>
      <div class="creation_category">
        <h5>Medical Treatment</h5>
        <p>Medical report of the patient situation</p>
      </div>
      <div class="creation_category">
        <h5>Treatment</h5>
        <p>A detail list of the treatment data</p>
      </div>
      <div class="creation_category">
        <h5>Insurance</h5>
        <p>All insurance information of the patient</p>
      </div>
    </div>

    <%= simple_form_for @patient do |f| %>
      <div class="card add-a-patient">
        <h3>Patient Information</h3>
        <div class="row">
          <%= f.input :first_name %>
          <%= f.input :last_name %>
        </div>
        <div class="row">
          <%= f.input :date_of_birth, :start_year => 1900, :use_month_numbers => true, :order => [:day, :month, :year] %>
          <label for="">Gender</label>
          <%= f.select :gender, options_for_select(["Male", "Female"]) %>
        </div>
        <div class="row">
          <%= f.input :address %>
          <%= f.input :city %>
          <%= f.input :zipcode %>
        </div>
        <div class="row">
          <%= f.input :job_title %>
          <%= f.input :email %>
          <%= f.input :phone %>
        </div>
        <div class="row">
          <%= link_to "SKIP", medicalrecord_path, class: "btn btn-outline-secondary" %>
          <%= f.button :submit, "NEXT", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>

  </div>

</div>
