<div class="d-flex justify-content-between">
  <div class="card_free patient_description text-responsivity-patient-general" id="patient-color">
    <div class="patient_general_info">
      <h2><%= @patient.first_name  %> <%= @patient.last_name  %></h2>
      <h5><%= @patient.date_of_birth.strftime("%m/%d/%Y") %></h5>
      <div class="mail_link"><a href=""><i class="far fa-envelope"></i></a></div>
    </div>
    <div class="patient_detailed_info">
      <h3>First Name</h3>
      <h5><%= @patient.first_name  %></h5>
      <h3>Last Name</h3>
      <h5><%= @patient.last_name  %></h5>
      <h3>Gender</h3>
      <h5><%= @patient.gender  %></h5>
      <h3>Address</h3>
      <div class="patient_address">
      <h5><%= @patient.address  %></h5>
      <h5><%= @patient.city  %></h5>
      <h5><%= @patient.zipcode  %></h5>
      </div>
      <h3>Email</h3>
      <h5><%= @patient.email  %></h5>
      <h3>Phone</h3>
      <h5><%= @patient.phone  %></h5>
    </div>
  </div>
  <div class="patient_index" style="margin-right: 10px;">
    <div>
      <div class="tabs">
        <div class="d-flex justify-content-around">
          <div class="tab d-flex"><i class="fas fa-bars" id="down"></i><p class="show-link"><%= link_to 'Follow-up', patient_path(@patient), remote: true %></p></div>
          <div class="tab d-flex"><i class="far fa-clipboard" id="down"></i><p>Medical Record</p></div>
          <div class="tab d-flex"><i class="fas fa-pills" id="down"></i><p>Treatment</p></div>
          <div class="tab d-flex"><i class="far fa-envelope" id="down"></i><p class="show-link"><%= link_to 'Email history', patient_email_path(@patient), remote: true %></p></div>
        </div>
      </div>
      <div id="ajaxmain">
        <div class="dashboard_index">
          <div class="d-flex justify-content-between" style="margin-bottom: 20px;">
            <h5>Filter: <a href=""> All</a></h5>
            <%= link_to "Edit Follow-up", edit_patient_consultation_path(@patient), class:"follow-up" %>
          </div>
        </div>
        <% @patient.consultations.where("start_time < ?", Time.now).each do |consultation| %>
          <div class="show">
            <div class="d-flex justify-content-between" data-id="<%= consultation.id %>" id="resume_<%= consultation.id %>" onclick="display_full(event)">
              <div class="avatar-date d-flex <%= 'lightblue' if consultation.consultation_type == 'First meeting' %> <%= 'blue' if consultation.consultation_type == 'Operation' %> <%= 'yellow' if consultation.consultation_type == 'Consultation' %>"><div style="margin:auto"><%= consultation.start_time.strftime("%e")%><div style="margin:auto"></%><%= consultation.start_time.strftime("%b")%></div>
                <div class="position_date"></div>
              </%></div></div>
              <div class="card_free display-patient-info">
                <div class="d-flex justify-content-between">
                  <div><h4 class="consultation-type-text <%= 'lightblue-text color-text' if consultation.consultation_type == 'First meeting' %> <%= 'blue-text color-text' if consultation.consultation_type == 'Operation' %> <%= 'yellow-text color-text' if consultation.consultation_type == 'Consultation' %>"><%= consultation.consultation_type %></h4></div>
                  <div><h4 class="consultation-type-text <%= 'lightblue color-button' if consultation.consultation_type == 'First meeting' %> <%= 'blue color-button' if consultation.consultation_type == 'Operation' %> <%= 'yellow color-button' if consultation.consultation_type == 'Consultation' %>">Email Type</h4></div>
                </div>
                <div class="d-flex tag consultation-type-text lightblue-text color-text"><p>Tag</p><p>Tag</p><p>Tag</p></div>
                <p><%= consultation.patient_complain %></p>
                <i class="d-flex justify-content-center fas fa-chevron-down" style="padding-top: 10px; margin-bottom:-30px"></i>
              </div>
            </div>
            <div class="justify-content-between" data-id="<%= consultation.id %>" id="full_<%= consultation.id %>" onclick="display_resume(event)" style="display: none">
              <div class="avatar-date d-flex <%= 'lightblue' if consultation.consultation_type == 'First meeting' %> <%= 'blue' if consultation.consultation_type == 'Operation' %> <%= 'yellow' if consultation.consultation_type == 'Consultation' %>"><div style="margin:auto"><%= consultation.start_time.strftime("%e")%><div style="margin:auto"></%><%= consultation.start_time.strftime("%b")%></div>
                <div class="position_date"></div>
              </%></div></div>
              <div class="card_free display-patient-info">
                <div class="d-flex justify-content-between">
                   <div><h4 class="consultation-type-text <%= 'lightblue-text color-text' if consultation.consultation_type == 'First meeting' %> <%= 'blue-text color-text' if consultation.consultation_type == 'Operation' %> <%= 'yellow-text color-text' if consultation.consultation_type == 'Consultation' %>"><%= consultation.consultation_type %></h4></div>
                  <div><h4 class="consultation-type-text <%= 'lightblue color-button' if consultation.consultation_type == 'First meeting' %> <%= 'blue color-button' if consultation.consultation_type == 'Operation' %> <%= 'yellow color-button' if consultation.consultation_type == 'Consultation' %>">Email Type</h4></div>
                </div>
                <div class="d-flex tag consultation-type-text lightblue-text color-text"><p>Tag</p><p>Tag</p><p>Tag</p></div>
                <h5><strong>Patient's complain</strong></h5>
                <p><%= consultation.patient_complain %></p>
                <h5><strong>Diagnostic</strong></h5>
                <p><%= consultation.diagnostic %></p>
                <h5><strong>Care plan</strong></h5>
                <p><%= consultation.care_plan %></p>
                <h5><strong>Prescription & information for the patients</strong></h5>
                <%= consultation.prescription %></p>
                <i class="d-flex justify-content-center fas fa-chevron-up" style="padding-top: 10px; margin-bottom:-30px"></i>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



<script>
  function display_full(event) {
    const id_clicked = event.currentTarget.dataset.id;
    event.currentTarget.classList.remove('d-flex');
    event.currentTarget.style.display = 'none';
    const div_to_display = document.getElementById(`full_${id_clicked}`)
    div_to_display.classList.add('d-flex')
    div_to_display.style.display = 'block';
  }

  function display_resume(event) {
    const id_clicked = event.currentTarget.dataset.id;
    event.currentTarget.classList.remove('d-flex');
    event.currentTarget.style.display = 'none';
    const div_to_display = document.getElementById(`resume_${id_clicked}`)
    div_to_display.classList.add('d-flex')
    div_to_display.style.display = 'block';
  }

</script>
