<div style="margin-top: 40px;" >
  <%= link_to dashboard_path, class:"erase" do %>
    <div class="back-to-dashboard d-flex">
      <i class="fas fa-chevron-left" id="down"></i>
      <p>Back to dashboard</p>
    </div>
  <% end  %>
  <div class="d-flex justify-content-around">
    <div class="card_free patient_description">
      <div class="patient_general_info">
        <h2><%= @patient.first_name  %> <%= @patient.last_name  %></h2>
        <h5 style="margin-bottom: 15px; font-size: 20px;"><%= @patient.date_of_birth  %></h5>
        <h4 class="patient-category">Patient Category</h4>
        <div class="mail_link"><a href=""><i class="far fa-envelope"></i></a></div>
      </div>
      <div class="patient_detailed_info">
        <header>First Name</header>
        <p><%= @patient.first_name  %></p>
        <header>Last Name</header>
        <p><%= @patient.last_name  %></p>
        <header>Gender</header>
        <p><%= @patient.gender  %></p>
        <header>Address</header>
        <p><%= @patient.address  %></p>
        <header>Email</header>
        <p><%= @patient.email  %></p>
        <header>Phone</header>
        <p><%= @patient.phone  %></p>
      </div>
    </div>
    <div class="patient_index">
      <div class="tabs card_free">
        <div class="d-flex justify-content-around">
          <div class="tab d-flex"><i class="fas fa-bars" id="down"></i><p>Follow-up</p></div>
          <div class="tab d-flex"><i class="far fa-clipboard" id="down"></i><p>Medical Record</p></div>
          <div class="tab d-flex"><i class="fas fa-pills" id="down"></i><p>Treatment</p></div>
          <div class="tab d-flex"><i class="far fa-envelope" id="down"></i><p>Email History</p></div>
        </div>

          <div class="d-flex">
            <div class="full"></div>
            <div class="empty"></div>
            <div class="empty"></div>
            <div class="empty"></div>
          </div>
        </div>

        <div class="dashboard_index">

        </div>
        <div class="d-flex justify-content-between">
          <h4>Filter:All</h4>
          <a class="follow-up" href="">New Follow-up</a>
      </div>
    </div>
  </div>
</div>
