<div class="home">
  <div class="home-image d-flex">
    <div>
      <h1>HippoWeb</h1>
      <h3>For easier medical follow-ups</h3>
      <div class="horizontal-line"></div>
      <ul>
        <li class="list-inline"><i class="fas fa-file"></i> Dematerialize your medical records</li>
        <li class="list-inline"><i class="fas fa-hourglass-half"></i> Save time for all your medical reports</li>
        <li class="list-inline"><i class="fas fa-envelope-open"></i> Improve the way you communicate with your patients</li>
      </ul>
    </div>
  </div>

  <div class="home-signup">
    <div class="form-placement">
        <h2>Enter your informations bellow</h2>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, required: false, autofocus: true, placeholder: "bob@gmail.com", wrapper_html: { class: "offilog" } %>
            <%= f.input :password, required: false, placeholder: "••••••", wrapper_html: { class: "offilog" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Log in", class: "btn btn-primary log-in" %>
          </div>
          <%= render "devise/shared/links" %>
        <% end %>
      </div>
  </div>
</div>
